@using BaoTest1.Models
@model ProductViewModel


<h2>Hello Plus Program</h2>
<form asp-controller="products" asp-action="plusview" method="get">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Number 1</label>
        <input type="number" class="form-control" name="num1" id="number1" placeholder="number 1" value="@Model.num1">
    </div>
    <button type="submit" class="btn btn-primary">+</button>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Number 2</label>
        <input type="number" class="form-control" name="num2" id="number2" placeholder="number 2" value="@Model.num2">
    </div>
    <h2 class="text-center">Result</h2>
    <div class="mt-3">
        <h1>Result</h1>
        <input type="number" class="form-control" name="result" id="result" placeholder="Result" value="@Model.result">
    </div>
</form>
