@{
    ViewData["Title"] = "Privacy Policy";
}

@section SideBar{
    <a href="/" class="list-group-item text-white" style="background-color:transparent">About</a>
    <a href="/" class="list-group-item text-white" style="background-color:transparent">About</a>
    <a href="/" class="list-group-item text-white" style="background-color:transparent">About</a>
    <a href="/" class="list-group-item text-white" style="background-color:transparent">About</a>
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
